@model IEnumerable<OnlineShopping_ELX.Models.Product>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-action="ProductList">
    <input type="text" name="productTitle" />
    <input type="submit" value="Search" class="btn btn-primary" />
</form>
<table class="table">

    
    <tbody>
        <tr>
@foreach (var item in Model)
{
        
            <td>
                
                <img src="UploadImages/@item.ProductImage" width="100" height="100" /><br/>
                      Title:@Html.DisplayFor(modelItem => item.Title)<br/>
                    Price: @Html.DisplayFor(modelItem => item.Price)<br />
                    <a asp-action="Details" asp-route-id="@item.Id">Details</a><br />
                    <a asp-action="ProductBuy" asp-route-id="@item.Id">Buy product</a>
            </td>
           
       
}
</tr>
    </tbody>
</table>
